@import './vars';

body {
	margin: 0;
	font-family: $fontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: auto;
}

.blue {
	color: $blue;
}

.black {
	color: $black;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h2,
.h2 {
	font-size: 72px;
	line-height: 80px;
	letter-spacing: -0.02em;
}

h2,
.h3 {
	font-size: 56px;
	line-height: 64px;
	letter-spacing: -0.02em;
}

h5,
.h5 {
	font-weight: bold;
	font-size: 21px;
	line-height: 40px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

.btn,
button {
	// reset
	border: none;
	cursor: pointer;
	display: inline-block;

	padding: 16px 40px;
	background-color: $black;
	color: $white;
	font-size: 18px;
	font-family: $fontFamily;
	line-height: 24px;
	text-transform: uppercase;
	transition: opacity 300ms ease-in-out;
	&:hover {
		opacity: 0.8;
	}
	&:focus {
		outline: 1px solid black;
	}
}

.block.slider {
	padding: 80px 0;
	text-align: center;
	.label {
		@extend .h5;
		margin-bottom: 40px;
	}
	.message,
	.dash {
		@extend .h2;
	}
	.attribution {
		@extend .h3;
	}
	.slides {
		width: 75%;
		margin: 0 auto;
	}
	.slick-prev,
	.slick-next {
		top: 100px;
		color: $black;
		transform: none;
		&:hover {
			color: $black;
		}
		&:before {
			font-family: $fontFamily;
		}
	}
	.slick-dots {
		position: relative;
		bottom: 0;
		margin: 54px 0 64px;
		li,
		button {
			width: $dotSize;
			height: $dotSize;
		}
		li {
			margin: 0 12px;
			&.slick-active {
				button {
					opacity: 1;
				}
			}
		}
		button {
			background-color: $black;
			opacity: 0.4;
			border-radius: 50%;
			&:hover {
				opacity: 1;
				transition: opacity 300ms ease-in-out;
			}
			&:before {
				content: none;
			}
		}
	}
}
